$primary-day: #B0DAF1;
$secondary-day: #BF7293;
$tertiary-day: #4AB272;

$primary-night: darken(saturate($primary-day, 20), 70);
$secondary-night: darken(saturate($secondary-day, 20), 30);
$tertiary-night: darken(saturate($tertiary-day, 20), 30);
